/* CSS Document */
h1{
	color:gray;
	text-shadow: 4px 4px 17px #FBED37;
}
div.polaroid { /*div for borders*/
  width: 80%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
}
	img {
    border-radius: 8px; /*to make imgs round*/
}

